body {
    background-color: white;
}
button.post{

    border-radius:5px;
    background-color:white;
}
nav.post{
    float:right;
}
img.Darian {
    margin:auto;
    
}
  h2.A{
    text-align:center;
    color:black;
  }
  section.AA{
    float:left;
    width:210px;
  }
  button.AA{
    height:100px;
    width:200px;
    border-radius:15px;
    background-color:white;
    font-weight:bold;
  }
  footer{
    align-items: center;
  }
  h2.pop{
    text-align: center;
    color:black;
  }
  button.foot{
    margin:auto;
    border-radius:5px;
    background-color:white;
    font-weight:bold;
    width:150px;
  }
  a :hover{
    transform: scale(1.023) ;
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
a.btn{
  width: 200px;
  height: 75px;
  border-radius: 30px;
  background-color: aquamarine;
  display: block;  
}
img{
    width: 200px;
    height:75px;
}
