h1 {
    color:white;
    text-align: center;
}
img{
    height:450px;
    width:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color:white;
    text-align: center;
}
p {
    color:white;
    text-align:center;
}
div{
    background-color: rgb(22, 23, 63);
    width:50%;
    padding:15px;
    margin:auto;
}
#section{
    background-color: rgb(22, 23, 63);
    margin-bottom: 25px;
    width:800px;
}
a{
    background-color: rgb(253, 255, 255);
    padding:0px 75px;
    color:black;
}