body{
    background-color: white;
    color:black
}
header{
    height: 120px;

}
section {
    height: 1200px;
}
img.a{
    height:30px;
    width:30px;
    float:left;
    padding-top:10px;
}
img.aa{
    height:30px;
    width:65px;
    float:left;
    padding-left:10px;
    padding-top:10px;
}
a.s{
    float:left;
    padding-left:15px;
    padding-right:15px;
    font-size: x-large;
    font-weight:bold;
    color:black;
    padding-top:10px;
}
hr{
    color:black;
    
}
button{
    background-color: white;
    color:black;
    border: none;
    border-radius: 10px;
    width: 120px;
    font-size: 2em;
    float:right;
    border:solid rgb(220, 219, 219);
    padding-top:5px;
    padding-bottom:5px;
    margin:5px 0px 0px 0px;
    font-weight:bold;
}
button.a{
    width:150px;
    background-color:rgb(204, 0, 0);
    color:white;
    border: solid rgb(204, 0, 0);
    margin-right:5px;
}
img.aaa{
    height:20px;
    width:20px;
    padding-top:18px;
}
h2.ss{
    float:left;
}
p.a{
    float:left;
    font-size:large;
    padding-left:7px;
    padding-right:7px;
}
p.aa{
    float:left;
    font-size:large;
    margin-left:8px;
    margin-bottom:8px;
}
img.aaaa{
    float:right;
    height:35px;
    width:35px;
    padding-top:10px;
}
img.q{
    float:left;
    width:285px;
}
section.left{
    width:30%;
    float: left;
}
p.qr{
    font-size: x-large;
}
section.middle{
    width:40%;
    float: left;
    padding-left:15px;

}
h1.qs{
    text-align:center;
    font-size:xx-large;
}
p.t{
    font-size:large;
}
img.tiny{
    width:110px;
    height:60px;
    float:left;
    padding-right:32.8px;
}
p.red{
    color:red;
    font-weight:bold;
    font-size: medium;

}
p.pepper{
    padding-left:150px;
    padding-bottom:50px;
}
img.left{
    width:110px;
    height:60px;
    float:right;
}
section.right{
    float:right;
    width:325px;
}
h2.nfl{
   padding-right:120px;
}
img.nfl{
    width:325px;
}
p.o{
    font-size: large;
    font-weight:bold;
    float:left;
}
p.oo{
    padding-top:10px;
    font-size:larger;
}