div {
    background-color:rgb(68, 13, 163);
    width:100%;
}
div div{
    background-color:rgb(92, 92, 92);
    width:45%;
    padding:2.5%;
    float:left;
}
div div div {
    background-color:rgb(92, 92, 188);
}
#card {
    background-color:brown;
    padding:10px;
    clear:both;
}
.links {
    background-color:aqua;
    clear: both;
    text-align: center;
}
a {
    background-color:black;
    color:white;
    padding: 0px 50px;
}
a:hover {
    background-color: rgb(175, 218, 255);
    color:black;
}
h1{
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    background-color:black;
    color:white;
    font-size: xx-large;
    font-family:cursive;
}
body{
    background-color: rgb(11, 11, 12);
}
p{
    color:white;
    background-color:rgb(16, 14, 19);
    font-family:'Times New Roman', Times, serif;
}
li {
    color:white;
    background-color:rgb(16, 14, 19);
    width:50%;
    margin:10px;
}
h3{
    color:white;
    background-color:rgb(0, 0, 0);
    height:20px;
}