div {
    background-color: rgb(45, 42, 48);
    border:solid rgb(82, 82, 154);
    margin-bottom: 25px;
}
body {
  width: 1366px;
  height: 768px; 
  background-color: azure; 
}
h1 {
    background-color: rgb(45, 46, 47);
    text-align: center;
    margin: 0px;
}
h2 {
    background-color: rgb(45, 47, 49);
    text-align: center;
    margin: 0px;
}
ol {
    background-color: rgb(74, 58, 58);
    width: 50%;
    margin:auto;
}
a{
    background-color: rgb(253, 255, 255);
    padding:0px 150px;

}
a:hover{
    background-color:rgb(62, 56, 56);
}
#section{
    height: 600px;
    width: 700px;
    margin:auto;
}
hr {
    width: 50%;
}