h1 {
color:white;
border:dotted red;
width:250px;
background-color:black;
text-align:center;
}
table, th, td{
    border:dotted red;
}
th{
    background-color:black;
    color:red;
}
td{
    color:white;
    background-color:rgb(20, 25, 49);
}
table{
    border-spacing:5px;
    background-color:black;
}
th, td {
    padding:7px;
}