img{
    height:450px;
    width:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color:white;
    text-align: center;
}
p {
    color:white;
    text-align:center;
}
div{
    background-color: rgb(22, 23, 63);
    width:50%;
    height:600px;
    padding:15px;
    margin:auto;
    border:dotted red;
}