h1{
    text-align:center;
}
h3{
    text-align:center;
    font-size: large;
}
section{
    background-color:white;
    color:black;
    border-radius:15px;
    border:dotted;
}
section.a{
    height:90px;
    width:420px;
    float:center;
    margin:auto;
}
img{
    height:250px;
    width:250px;
    padding-left: 25px;
    padding-top:20px;
    padding-bottom:10px;
}
h1.aa{
    font-size: xx-large;
    padding-right:730px;
    background-color:rgb(39, 39, 71);
    height:50px;
    color:white;
}